body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}

/* Header */
.header {
    background-color: #2c3e50;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Navigation */
.nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* Main container */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

/* Content */
.content {
    width: 65%;
    float: left;
}

.post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
}

.date {
    color: gray;
    font-size: 14px;
}

/* Sidebar */
.sidebar {
    width: 30%;
    float: right;
    background-color: #f1f1f1;
    padding: 15px;
}

.sidebar ul {
    padding-left: 20px;
}

/* Clear floats */
.clear {
    clear: both;
}

/* Footer */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

button {
            background-color: #b59a82;
            color: #fff;
            border: none;
            padding: 10px 18px;
            cursor: pointer;
            text-decorattion : none;
        }
      